.crystal {
    height: 200px;
    width: 150px;
}
h1 {
    font-family: 'Faster One', cursive;
    color: teal;
    font-size: 300%;
}
h2, h4 {
    font-weight: bolder;
}
.crystalGame {
    background-image: url('../images/stripes-light.png');
    font-family: 'Courier New', Courier, monospace;
}
.crystalContainer {
    margin-top: 20px;
    background-color: white;
}
.gameRow {
        border: 2px dotted teal;
            display: flex;
            justify-content: center;
            padding-top: 15px;
}
.gameColumn {
    display: flex;
    justify-content: center;
}